<% if signed_in? %>
<!--ログイン時-->
<!--投稿フォーム-->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1 class="page-title">新規投稿</h1>
      <%= form_for(@micropost) do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control", placeholder: "投稿内容" %>
      </div>
      <div class="actions">
        <%= f.submit "投稿する", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
<!--投稿フィード-->
    <div class="col-md-4">
      <h1 class="page-title">投稿一覧</h2>
      <% @feed_items.each do |feed_item| %>
      <%= link_to feed_item.user.name, feed_item.user %>
      <%= feed_item.content %>
      <% end %>
    </div>
  </div>
</div>
<% else %>

<!--ログアウト時-->
  <div class="jumbotron">
    <div class="main-title">
      <h1>tabidori</h1>
    </div>
    <h3>〜旅行と空撮を繋げよう〜</h3>
    <p>（ポートフォリオサイト）<br/>
    ただいま作成中です。</p>
    <div class="signup-btn">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-danger" %>
    </div>
  </div>
<h1>tabidoriとは？</h1>
<% end %>